body {
  text-align: center;
  font-family: sans-serif;
}

#connect4 {
  background-color: yellow;
  display: inline-block;
}

.col {
  width: 70px;
  height: 70px;
  display: inline-block;
  background: white;
  border-radius: 50%;
  margin: 5px;
}

.next-red {
  background: rgba(255,0,0,0.2)
}
